@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "poppins", sans-serif;
}

strong {
    color: #1a1040;
}

.menu-des, #menu-des{
    display: none;
}

html{
    background-color: white;
}

main{
    display: flex;
    flex-direction: column;
}

 /* nab */ 

.sirena-logo{
    height: 3rem;
}

.navegador {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #1a1040;
    padding: 10px 14%;
}

.nav-list{
    display: flex;

}

.nav-item {
    padding-right: 2em;
    display: flex;
    align-items: center;
}

.nav-item-link{
    color: white;
    list-style-type: none;
}

.nav-item-link:hover{
    text-decoration: underline;
 }

/* hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 7%;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 1% 7%;
  }
  
  .info h1 {
    font-size: 2.5rem;
    padding-left: 2%;
  }
  
  .info p{
    font-size: 1.10rem;
    padding: 0 3%;
  }
  
  .logo-avatar {
    width: 18.75rem;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
  }

/* botones  */

  .botones {
    display: flex;
    gap: 10%;
    padding-left: 3%;
}

.boton-deco{
    background-color: #1a1040;
    width: 10rem;
    height: 3rem;
    border: none;
    color: white;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1.0rem;

}

.boton-deco:hover{
    font-size: 1.15rem;
}

/* descripcion */

.descripcion{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem 21rem;
    font-size: 1.10rem;
}
