@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    list-style-type: none;
}

.sirena-logo{
    height: 48px;
}

.navegador {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #1a1040;
    padding: 10px 5%;
}

.nav-list{
    display: flex;
}

.nav-item {
    padding-right: 2em;
    display: flex;
    align-items: center;
}

.nav-item-link{
    color: white;
}